/* ignore GTK theme */
* {
  all: initial;
  /* color: @text; */
}

@import "current-theme.css";
@import "styles/fonts.css";
@import "styles/global.css";
@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "styles/states.css";
/**/
/* window#waybar { */
/*   background-color: shade(@base, 0.9); */
/*   border: 2px solid alpha (@crust, 0.3); */
/* } */
